<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>

    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div style="padding-left: 10px">
    <h4>{{params.name}}</h4>
    </div>
<!-- <ion-item lines="none">
  Vishal
</ion-item> -->

  <ion-item lines="none">
      <ion-label style="font-size: 14px"><p>Phone no</p><div>+91 {{params.phone}}</div></ion-label>
    </ion-item>

    <!-- <ion-item>
      <ion-label style="font-size: 14px"><p>Address:</p> <div>{{order?.address?.houseNo}} {{order?.address?.landmark}}</div> </ion-label>
    </ion-item> -->

    <!-- <ion-item>
        <ion-label style="font-size: 14px" class="ion-text-wrap"><p>GPS Location:</p> <div>{{order?.address?.formatted_address}}</div> </ion-label>
      </ion-item> -->


</ion-list>

<div style="height: 10px"></div>

<div style="display:flex">
    <div style="text-align: center; width: 100%; text-align: center; background:white; padding-top:5px; margin-right:10px">
      <div style="font-size: 14px; padding-bottom:2px">Orders</div>
      <div style="font-size: 30px; padding-bottom:2px"><span >{{params.total_order}}</span></div>
    </div>
   
    <div style="text-align: center; width: 100%; text-align: center; background:white; padding-top:5px">
        <div style="font-size: 14px; padding-bottom:2px">Total amount</div>
        <div style="font-size: 30px; padding-bottom:2px"><span >{{params.total_amount}}</span></div>
      </div>
      </div>
  
    <div style="height:10px;"></div>
    
    <ion-list>
        <div style="padding-left: 10px">
        <h4>Recent Order(s)</h4>
        </div>
    
      <ion-item *ngFor = "let order of orders" (click)="openOrder(order)" >
          <ion-label>
              <!-- <p>{{order.customerName}} - <span style="font-size:12px">{{order.time_formated}}</span></p> -->
              <div style="font-size:14px; padding-bottom:3px">#{{order.orderNo}}</div>
              <!-- <ion-chip>
                  <ion-label>paid</ion-label>
                </ion-chip>
    
                <ion-chip>
                    <ion-label>Accepted</ion-label>
                  </ion-chip> -->
    <span style="padding-right:10px">
                  <ion-badge color="medium" >{{order.paymentStatus}}</ion-badge></span>
                  <ion-badge color="light">{{order.orderStatus}}</ion-badge>
    
            </ion-label>
            <div>
            <div *ngIf = "!order.invoiceApproved">Rs {{order.amount}}</div>
            <div *ngIf = "order.invoiceApproved"><del style="padding-right:5px" *ngIf="order.amount != order.invoice.grandTotal">Rs {{order.amount}}</del> Rs {{order.invoice.grandTotal}}</div>
            <div *ngIf="order.rating">
            <ion-icon style="color:#fc8019" [name]="order.rating.currentRating >= 1?'star':'star-outline'">
            </ion-icon><ion-icon  style="color:#fc8019" [name]="order.rating.currentRating >= 2?'star':'star-outline'">
            </ion-icon><ion-icon style="color:#fc8019" [name]="order.rating.currentRating >= 3?'star':'star-outline'">
            </ion-icon><ion-icon style="color:#fc8019" [name]="order.rating.currentRating >= 4?'star':'star-outline'">
            </ion-icon><ion-icon style="color:#fc8019" [name]="order.rating.currentRating >= 5?'star':'star-outline'">
            </ion-icon></div>
            
          </div>
            </ion-item>
    
    
    </ion-list>
    
</ion-content>
