<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="dark" (click)="dismiss()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
      </ion-buttons>

    <ion-title>Add products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- aegment and product view -->
    <div *ngIf = true>
    <ion-segment (ionChange)="segmentChanged($event)" scrollable [(ngModel)]="selectedCatalogue" value="selectedCatalogue">
        <div *ngFor = "let category of categoryList">
         <ion-segment-button value={{category}} >
           <ion-label>{{category}}</ion-label>
         </ion-segment-button>
       </div>
   </ion-segment>

   
      <div *ngFor= " let product of productList" style="display:flex; padding-bottom: 10px; padding-top:10px; border-bottom: solid 1px gray; margin-bottom: 10px;" >
        <div>
          <ion-thumbnail style="padding-right:10px; width:100px; height:100px" slot="start" >
              <div style="position:absolute" *ngIf = "product.showMRP && product.variants[product.selectedVariant].MRP > product.variants[product.selectedVariant].price">
                <div style="position: relative;
                left: -6px;
                background: #fa4a5b;
                line-height: 1;
                padding: 4px 7px 4px;
                color: white;
                FONT-SIZE: 13px;">&#8377;{{product.variants[product.selectedVariant].MRP - product.variants[product.selectedVariant].price}} off
                  <div style="width: 0;
                  height: 0;
                  position: absolute;
                  bottom: -6px;
                  left: 0;
                  border: 3px solid #fa6e7c;
                  border-bottom-color: transparent!important;
                  border-left-color: transparent!important;
              "></div>
                  <div style="position: absolute;
                  right: -4px;
                  top: 0;
                  border-width: 8px 4px;
                  border-style: solid;
                  bottom: 0;
                  border-color: #fa4a5b transparent;"></div>
                </div>
              </div>
              <img src="{{product.image_url}}">
            </ion-thumbnail>
          </div>
        <div style="flex-grow: 1; padding:10px; overflow: auto">
          <div class = "description" style="padding-bottom:3px ">
            {{product.name}} 
        </div>
    
          <div style="width:100%; padding-bottom: 5px; width:50%">
              <ion-select value = "{{product.selectedVariant}}" interface="popover"  [(ngModel)] = "product.selectedVariant" style="border: 1px solid gray;
              border-radius: 5px;
              padding: 5px;">
                <ion-select-option *ngFor = "let variant of product.variants; index as i" value = {{i}}>{{variant.title}}</ion-select-option>
              </ion-select>
          </div>
        <div style=" bottom:0; width: 100%">
        <div class= "price" style="display:flex; ">
            <div class="rs" style="flex: 5 1 0%; line-height: 30px"><del style="padding-right:15px" *ngIf = "product.showMRP && product.variants[product.selectedVariant].MRP > product.variants[product.selectedVariant].price">&#8377; {{product.variants[product.selectedVariant].MRP}}</del> &#8377; {{product.variants[product.selectedVariant].price}}</div>
            <div class="addToCart" style="align-items: center; justify-content: center; display: flex" >
              <div *ngFor = "let cartProduct of currentCart" >
                <div *ngIf="cartProduct.product_id === product.product_id && (cartProduct.cartVariant == product.selectedVariant)" style="display:flex">
                  <!-- <div style="height:30px; width:27px; background: #2296ff;  text-align: center; color: white; line-height: 30px" (click)= "decreaseProductQty(cartProduct.product_id)"><span>-</span></div> -->
                  <div style="height:30px; width:23px; background: white;  text-align: center; color: black; line-height: 30px; ">{{cartProduct.qty}}</div> 
              </div>
            </div>
              <div *ngIf= "!product.markOOS" style="height:30px; width:27px; background: #2296ff;  text-align: center; color: white; line-height: 30px" (click)= "addProduct(product)"><span>+</span></div>
              <div *ngIf= "product.markOOS ">out of stock</div>
            </div>
          </div>
        </div>
    
      </div>
      </div>
    </div>
    


</ion-content>
