
<ion-content>

  <div style="    min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;">
  <div style="width:70%; text-align:center">
    <div> <p> Your store is disabled, contact your system administrator for more detail </p> </div>

  <div>
      <ion-button style="--background:#25D366; color:white" href="https://wa.me/919076097780?text=hello, i want my store to be active">
          <ion-icon slot="start"  name="logo-whatsapp"></ion-icon>
        contact admin</ion-button>
    </div>
    
</div>
</div>

</ion-content>
