<ion-header>
  <ion-toolbar>
    <ion-title>customers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor = "let customer of customerList" (click)="openCustomerDetails(customer)">
      <ion-avatar slot="start">
          <img src="../../../assets/avatar.svg">
        </ion-avatar>
    <ion-label > <div>{{customer.name}}</div>  
    <p><span>{{customer.total_order}} order(s), </span> <span> total amount ₹{{customer.total_amount}}</span> </p>
  </ion-label>
  </ion-item>

</ion-content>
