<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="dismiss(0)">
                <ion-icon name="arrow-back"></ion-icon>
              </ion-button>
        </ion-buttons>
  
      <ion-title>Serving radius</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div style="height:100%">
      <div style="display:flex; height:100%; flex-direction: column">
      <div style="flex:1">
        <div style="height:100%">
       <div #mapContainer id="map" ></div>
       <div style="transform:scale(0.8) ;z-index:1; right:0; margin-top: -50px; position: absolute; background:#282c3f; color:white; border-radius: 100%; height:32px; width: 32px; margin-right:15px; ">
        <ion-icon name="locate-outline" size="large" (click)="getCurrentLocation()" style="transform:scale(0.9)"></ion-icon>
      </div>
      </div>
      </div>
      <!-- {{address}} -->
      
    


       <div style="padding:0 16px 16px 16px">
        <h6>Set store radius</h6>

        <ion-item>
            <ion-label position="stacked">Radius</ion-label>
            <ion-input type="number" (ionChange)="chnageRadius($event.detail.value)" [(ngModel)]="loc.radius"></ion-input>
          </ion-item>
        <div>

                  <ion-button  expand="block" (click)="confirmRadius()">Confirm Radius</ion-button>

          <ion-label >
            <p>Address</p>
            <div style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-bottom:10px">{{address}}</div>
          </ion-label>
        </div>
      </div>
      </div>
      </div>
  
    
  </ion-content>
  