<ion-header >
  <ion-toolbar>
    <ion-title *ngIf = "!searchbar">
      <div >Products</div>
      <!-- Products -->

    </ion-title>
    <ion-searchbar style="--box-shadow: none;" *ngIf = "searchbar"  animated cancelButtonIcon= "arrow-back-outline" showCancelButton = "always" (ionChange)="search($event)" (ionFocus)="test()" (ionClear)="ionClear()" (ionCancel)="ionBlur()" debounce = "500"></ion-searchbar>

    <ion-icon *ngIf = "!searchbar" style="transform: scale(0.8); margin-right: 10px;" slot = "end" size = "large" name="search-outline" (click)="searchBar()"></ion-icon>  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <ion-searchbar slot ="fixed" *ngIf = "searchbar"  animated cancelButtonIcon= "close-outline" showCancelButton = "always" (ionChange)="search($event)" (ionFocus)="test()" (ionClear)="ionClear()" (ionCancel)="ionBlur()" debounce = "500"></ion-searchbar> -->

    <!-- <ion-searchbar animated showCancelButton = "always" (ionChange)="search($event)" (ionFocus)="test()" (ionClear)="ionClear()" (ionCancel)="ionBlur()" debounce = "500"></ion-searchbar> -->
<ion-item lines="none" (click)="presentCatModal()" *ngIf = "segCtrl">
  <ion-label>Manage category</ion-label>
  <ion-icon name="chevron-forward-outline"></ion-icon>
</ion-item>

<div style="height:8px; background-color: #f5f5f5;"></div>

 <!-- show segment -->
<div *ngIf = "segCtrl">
  <ion-segment (ionChange)="segmentChanged($event)" scrollable [(ngModel)]="selectedCatalogue" >


    <div *ngFor = "let category of categoryList">
      <ion-segment-button value={{category}} >
        <ion-label>{{category}}</ion-label>
      </ion-segment-button>
    </div>
    
    </ion-segment>

    <!-- default product list -->
  <ion-list >
      <div *ngFor= "let product of productList; index as i" style="padding-bottom:20px">
        <ion-item lines="none" >
          <ion-thumbnail style="padding-right:10px; width:80px; height:80px" slot="start" (click)="presentModalProductEdit(product.doc_id)">
              <img src={{product.image_url}}>
            </ion-thumbnail>
            <!-- <div style="width:100%">
              <div >{{product.name}}</div>
              <ion-button fill="clear" (click)="deleteProduct(product, i)" slot="end">delete</ion-button>

</div> -->
<ion-label (click)="presentModalProductEdit(product.doc_id)">
  <div>
  {{product.name}}
  </div>
  <!-- <div style="font-size:12px">{{product.variants.length}} variants <span *ngFor="let variant of product.variants">&bull; {{variant.title}}(&#8377;{{variant.price}})</span>
  <div style="font-size:12px" *ngIf = "product.looseItem">Losse item: {{product.lInventory}} &nbsp; {{product.lUnit}}</div> -->

  <!-- </div> -->

</ion-label>

<ion-icon slot="end" name="trash-outline" (click)="deleteProductAlert(product, i)"></ion-icon>

</ion-item>

</div>
          
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreProduct($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

  </div>


  <!-- Search list -->
    <ion-list *ngIf = "!segCtrl" style="padding-top:70px;">
        <div *ngFor= "let product of searchList; index as i" style="padding-bottom:20px">
          <ion-item lines="none" (click)="presentModalProductEdit(product.doc_id)">
            <ion-thumbnail style="padding-right:10px; width:80px; height:80px" slot="start">
                <img src={{product.image_url}}>
              </ion-thumbnail>
              <!-- <div style="width:100%"> -->
                <ion-label >{{product.name}}</ion-label>
              
              <ion-icon slot="end" name="trash-outline" (click)="deleteProductAlert(product, i)"></ion-icon>
            
            <!-- </div> -->
  
            </ion-item>
            <!-- <ion-item>
            <ion-label>Chnage Price </ion-label> <ion-input debounce = "800" [(ngModel)]= productList[i].price (ionChange) = "priceSet(product)" style="width:50px"></ion-input>
            <div style="width:20px" (click)="priceChnage(product, 2)">+1</div><div>+1</div>
            </ion-item> -->
            </div>
          
      </ion-list>
  
    <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="presentImportModal()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
      </ion-fab> -->



      <div style="display: flex;text-align: center;height: 4  0px;background: var(--ion-color-primary);; bottom: 0;width: 100%;" slot="fixed"> 
        <div style="width: 100%; line-height: 40px;" (click)="presentModalProductEdit('new')">Add Product</div>
        <!-- <div style="width: 50%; line-height: 40px; background: darkseagreen" (click)="presentImportModal()">Import Product</div> -->
      </div>
</ion-content>
