<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="dark" (click)="dismiss()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
      </ion-buttons>
    <ion-title>Edit Product</ion-title>
    <ion-button slot="end" fill="clear" [disabled]= "!productForm.valid" (click)="saveProduct()" *ngIf="!isNew">save</ion-button>
    <ion-button slot="end" fill="clear" [disabled]= "!productForm.valid" (click)="addProduct()" *ngIf="isNew">add</ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>


 

  <form action="" #productForm="ngForm" >
  <div style="padding-bottom:10px; background:white">
      <ion-item>
        <ion-label position="stacked">Product title*</ion-label>
        <ion-input required [(ngModel)] = "product.name" name= "name" id="ngModel"></ion-input>
        <!-- [(ngModel)] = "product.name" -->
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Product description</ion-label>
          <ion-textarea  cols='2' placeholder="Enter product description here..." autoGrow="true" [ngModelOptions]="{standalone: true}" [(ngModel)] = "product.description" name= "name1" id="ngModel"></ion-textarea>
        </ion-item>

</div>

  <div style="height:20px"></div>
  
  <ion-list>
  <ion-list-header>
    <ion-label>Main image</ion-label>
  </ion-list-header>
      <ion-item>
        <ion-thumbnail  >
            <img src={{product?.image_url}} *ngIf="!imageUploadInprogress" id="img">
            <ion-spinner name="bubbles" *ngIf="imageUploadInprogress"></ion-spinner>
        </ion-thumbnail >
        <ion-label><input type="file" (change)="logoSelected($event)"></ion-label>
      </ion-item>  

      <ion-item>
        <ion-label position="stacked">Image URL</ion-label>
        <ion-input [(ngModel)] = "url" [ngModelOptions]="{standalone: true}"></ion-input>
        <ion-button slot="end" (click)="addUrl(url)">Add</ion-button>
      </ion-item>

      

      <!-- <ion-list-header>
          <ion-label>Additional images</ion-label>
        </ion-list-header>
      <ion-item lines="none" scrollX="true" >
        <div style="display: flex;
        overflow: scroll;
        overflow-x: auto;width:100%" *ngIf = "product.details">
        <div  *ngFor="let image of product?.details.images, index as i" style="position:relative">
        <ion-thumbnail style="margin-right:5px; --size:100px">
          <ion-img src={{image}}><ion-icon name="person-outline"></ion-icon>  </ion-img>
                </ion-thumbnail>
                <div style="position:absolute; top:0; right:0; color:white" (click)="deleteImage(i)">
                <ion-icon name="close" style="background: gray"></ion-icon>
              </div>
              </div>
              <ion-thumbnail ><input type="file" (change)="addimage($event)"></ion-thumbnail>
 
      </div>
      </ion-item>-->
    </ion-list> 


    <div style="height:10px"></div>
    <ion-item>
      <ion-label>Product category*</ion-label>
      <ion-select required [(ngModel)] = "product.category" (ionChange)="makeDirty()" name="option">
        <ion-select-option  *ngFor = "let cat of store.category" value={{cat}}>{{cat}}</ion-select-option>
      </ion-select>

    </ion-item>


  <!-- <div style="height:35px"> 
    <ion-button fill="clear" size="small" (click)="hideDetail? hideDetail =false : hideDetail= true">
      <ion-icon [name]="hideDetail?'chevron-up-outline':'chevron-down-outline'"  ></ion-icon>
      Additinal detials
    </ion-button>  
  </div>
  <div *ngIf = "hideDetail">
  <ion-list >
      <ion-list-header>Detail description</ion-list-header>
      <ion-item  lines="none">
        <ion-textarea col='3' [(ngModel)]="product.details.detail_text" [ngModelOptions]="{standalone: true}" autoGrow="true" style="border: solid 1px gray;
        border-radius: 5px;
        padding: 5px;"></ion-textarea>
      </ion-item>
      <ion-card>
      <ion-card-header>
          <ion-card-title>Product details</ion-card-title>
        </ion-card-header>
    <ion-grid style="color:15px">
      <ion-row *ngFor = "let line of product?.details?.details, index as i">
        <ion-col>
          <ion-input [(ngModel)]="line.feature" [ngModelOptions]="{standalone: true}" style="    border: solid 1px gray;
          border-radius: 5px;"></ion-input>
        </ion-col>
        <ion-col style="color:black">
            <ion-input [(ngModel)]="line.value" [ngModelOptions]="{standalone: true}" style="    border: solid 1px gray;
            border-radius: 5px;"></ion-input>
          </ion-col>
          <ion-icon name="close-outline" size="large" style="height:45px" (click)="removeFeature(i)"></ion-icon>
      </ion-row>
      <ion-button fill="clear"  (click)="addDetailLine()"><ion-icon name="add-outline"></ion-icon></ion-button>
    </ion-grid>
    </ion-card>
    
    </ion-list>
    
    <div style="height:20px"></div>
  </div> -->
  <ion-item >
    <ion-label>Mark this product as Out Of Stock</ion-label>
    <ion-toggle [(ngModel)]="product.markOOS"  name="status" (ionChange)="makeDirty()" [ngModelOptions]="{standalone: true}"></ion-toggle>
    
    </ion-item>

    <div *ngIf = "product.markOOS" style="padding:10px; color:red; font-size:13px"> This product is Out Of Stock, customers can not order this product</div>



    <!-- <ion-item >
      <ion-label>Promote this product</ion-label>
      <ion-toggle [(ngModel)]="product.isPromoted"  name="promoted" (ionChange)="makeDirty()" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>

    <ion-item >
      <ion-label >Show MRP</ion-label>
      <ion-toggle [(ngModel)]="product.showMRP" name="mrp" (ionChange)="makeDirty()" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item>


    <ion-item lines="none">
      <ion-label>Loose item?</ion-label>
      <ion-toggle [(ngModel)]="product.looseItem"  name="status" (ionChange)="makeDirty()" [ngModelOptions]="{standalone: true}"></ion-toggle>
    </ion-item> 

    <div *ngIf = "product.looseItem" style="display:flex; padding-bottom:10px; background: white">
      <div style=" width: 50%">
        <ion-item style="padding-right:5px">
            <ion-label position="stacked">Inventory*</ion-label>    
            <ion-input type ="number" required style="padding-bottom:10px" name = "pp" [(ngModel)]="product.lInventory"></ion-input>
        </ion-item>
      </div>
      <div style=" width: 50%">
          <ion-item>
              <ion-label position="stacked">unit*</ion-label>    
              <ion-input  required [(ngModel)]="product.lUnit"   name = "Ii" placeholder = "e.g. kg, liter"></ion-input>
          </ion-item>
        </div>
    </div>

    <div *ngIf = "!product.looseItem" style="padding:10px; color:darkgray; font-size:12px">If you are purchasing the item in kgs and liter and selling loose in grams and ml then enable this button for calculating the overall inventory</div>
    <div *ngIf = "product.looseItem" style="padding:10px; color:darkgray; font-size:12px">This product is considered to be sold loose, inventory will be maintained on product level instead of variant level. add variant factor for all variant e.g. for 250 g variant, variant factor = 250 gm/1000 =0.25 </div>

    <div style="height:20px"></div>
-->
      <ion-item>
          <ion-label>food type</ion-label>
          <ion-select  [(ngModel)] = "product.type"  [ngModelOptions]="{standalone: true}">
            <ion-select-option value="veg">veg</ion-select-option>
            <ion-select-option value="nonveg">non-veg</ion-select-option>
            <ion-select-option value="egg">egg</ion-select-option>
          </ion-select>
        </ion-item>


<div style="height:20px"></div>

<div>
  <div>
    <ion-item>
      <ion-label position="stacked">Price*</ion-label>    
      <ion-input  required [(ngModel)]="product.price"   name = "Ii" placeholder = "₹0.00"></ion-input>
    </ion-item>
  </div>


  <ion-item >
    <ion-label>This product has customization</ion-label>
    <ion-toggle [(ngModel)]="product.isCustomization"  name="status" (ionChange)="makeDirty()" [ngModelOptions]="{standalone: true}"></ion-toggle>
  </ion-item>

  <div *ngIf = "product.isCustomization">
  <div>
    <ion-item>
      <ion-label position="stacked">Variant </ion-label>    
      <ion-input  required [(ngModel)]="newVarinat"   name = "Ii1" placeholder = "e.g. size, toppings"></ion-input>
      <div slot="end" (click)="addNewVariant(newVarinat)">Add variant</div>
    </ion-item>
  </div>

  <div style="height:5px"></div>
  <div *ngFor = "let variant of product.variants, index as i">
    <ion-list-header style="background:white">
      <ion-label> {{variant.title}}</ion-label>
      <ion-button (click)="addNewOption(i)"> add option</ion-button>
    </ion-list-header>

    <div  style="display:flex; padding-bottom:10px; background: white" *ngFor="let option of variant.options, index as j">
      <div style=" width: 50%">
        <ion-item style="padding-right:5px">
            <ion-label position="stacked">Title*</ion-label>    
            <ion-input type ="text" required style="padding-bottom:10px" name = "pp-{{i}}-{{j}}" [(ngModel)]="option.title"></ion-input>
        </ion-item>
      </div>
      <div style=" width: 50%">
          <ion-item>
              <ion-label position="stacked">Price*</ion-label>    
              <ion-input  required [(ngModel)]="option.price"   name = "Ii-{{i}}-{{j}}" placeholder = "₹0.00"></ion-input>
          </ion-item>
        </div>
    </div>

  </div>
  </div>
</div>

<div style="height: 5px"></div>
<!-- <ion-list-header style="background:white">
      <ion-label> variants</ion-label>
      <ion-button (click)="addVariant()"> add variants</ion-button>
    </ion-list-header>

    <div style="height: 5px"></div> -->



    <!-- <div *ngFor = "let variant of product.variants, index as i">
    <div style="padding-bottom:10px; background:white">
    <ion-item >
      <ion-label position = "stacked">Variant title*</ion-label>
      <ion-icon slot="end" name="trash-outline" (click)="presentAlertConfirm(i)" *ngIf = " product.variants.length>1"></ion-icon>
      <ion-input  required [(ngModel)]="variant.title"   name = "t-{{i}}"></ion-input>
    </ion-item>

  <div style="display:flex">
      <div style=" width: 50%">
        <ion-item>
            <ion-label position="stacked">Price*</ion-label>    
            <ion-input type ="number" required style="padding-bottom:10px" name = "p-{{i}}" [(ngModel)]="variant.price"></ion-input>
        </ion-item>
      </div>

      <div style=" width: 50%" *ngIf = product.showMRP>
          <ion-item >
              <ion-label position="stacked">MRP*</ion-label>    
              <ion-input type ="number" required style="padding-bottom:10px"  name = "MRP-{{i}}" [(ngModel)]="variant.MRP"></ion-input>
          </ion-item>
        </div>
  

      <div style=" width: 50%" *ngIf = "!product.looseItem">
          <ion-item>
              <ion-label position="stacked">Inventory*</ion-label>    
              <ion-input type ="number" required [(ngModel)]="variant.inventory"   name = "I-{{i}}"></ion-input>
          </ion-item>
        </div>
        <div *ngIf = "product.looseItem">
          <ion-item >
            <ion-label position = "stacked">Variant factor*</ion-label>
            <ion-input type="number" required [(ngModel)]="variant.lifactor"   name = "ttt-{{i}}"></ion-input>
          </ion-item>
      
      
        </div>
        </div>
        <ion-item >
          <ion-label>Variant Out Of Stock</ion-label>
          <ion-toggle [(ngModel)]="variant.variantOOS"  name="status" (ionChange)="makeDirty()" [ngModelOptions]="{standalone: true}"></ion-toggle>
        </ion-item>

    </div>
    <div style="height: 5px"></div>
  </div> -->
</form>

</ion-content>
