
<ion-content>
 
    <div >
      <div style="padding:10px">
        <div style="display:flex">
      <div style="flex-grow:5">Register</div>
      <div style="color:orangered" [routerLink]="['/login']">cancel</div>
    </div>
      <div class="secondaryFont">Enter your phone email & password to proceed</div>
    </div>
      <ion-list>

          <ion-item>
              <ion-label position="stacked"  >Name*</ion-label>
              <ion-input [(ngModel)] = "user.name" ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="stacked"  >Phone No*</ion-label>
                <ion-input [(ngModel)] = "user.phone" ></ion-input>
              </ion-item>
      
    
        <ion-item>
          <ion-label position="stacked"  >Email*</ion-label>
          <ion-input [(ngModel)] = "user.email" type ="email"></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label position="stacked" >Password*</ion-label>
            <ion-input [(ngModel)] = "user.password" type = "password"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label position="stacked" >Confirm Password*</ion-label>
              <ion-input [(ngModel)] = "user.confirmPassword" type= "password"></ion-input>
            </ion-item>
  
            <div style="color:tomato; text-align:center">{{msg}}</div>
      <ion-button expand="block" (click)= "signup(user)">Register</ion-button>
      <!-- <div [routerLink]="['/tabs/profile']">cancel</div> -->
  
  
      </ion-list>
    </div>
  
    <!-- <ion-button (click)= "logout()">Logout</ion-button>
    <ion-button (click)="dismiss()">close</ion-button> -->
  
  
  
  </ion-content>
  