<ion-header>
  <ion-toolbar>
    <ion-title>Restaurants configuration</ion-title>
    <ion-icon slot="end" size="large" style="padding-right: 15px" name="close-outline" (click)="close()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">

    <ion-slides #mySlider>

        <ion-slide >
          <div class="slide">
            <img style="height:30vh; object-fit: contain;" src="../../../assets/login1.png"/>
            <h2>Welcome to finefoods</h2>
            <form action="" #nameForm = "ngForm">
            <ion-item>
                <ion-label position="stacked">Enter Your restaurant name</ion-label>
                <ion-input required name = "name" id = "ngModel" [(ngModel)] = "storeDetail.name"></ion-input>
              </ion-item>
            </form>
            <!-- <p>Enter Your business name</p> -->
            <!-- <p>Your business name will appear in store list of the customer app. A easy to remember and uniq business name will increase your brand value.</p> -->
          </div>
          <ion-button fill = "clear" [disabled]= "!(nameForm.dirty && nameForm.valid)"  (click)="swipeNext()">Next</ion-button>
        </ion-slide>

        <!-- <ion-slide>
          <h2>Select type of product you wanted to sell online</h2>
          <p>You can select one or more options</p>
          <ion-list>
          <ion-item>
              <ion-label>Category</ion-label>
              <ion-select multiple="true" [(ngModel)] = "storeDetail.store_category" (ionChange)="catChange($event)" [ngModelOptions]="{standalone: true}">
                  <ion-select-option value="Grocery">Grocery</ion-select-option>
                  <ion-select-option value="Vegetables & Fruits">Vegetables & Fruits</ion-select-option>
                  <ion-select-option value="Stationery">Stationery</ion-select-option>
                  <ion-select-option value="Home services">Home services</ion-select-option>
                  <ion-select-option value="Food">Food</ion-select-option>
                  <ion-select-option value="Home Essentials">Home Essentials</ion-select-option>
                  <ion-select-option value="Other">Other</ion-select-option>
                    </ion-select>
            </ion-item>
          </ion-list>
          <ion-button fill = "clear" (click)="swipeNext()">Next</ion-button>

        </ion-slide> -->
        <ion-slide>
            <div style="padding:20px 50px">
              <h3>Store Location:</h3>
               <div> {{storeDetail.address?.formatted_address}}</div>
            </div>
            <ion-button (click)="presentModalLocation()">set store location using map</ion-button>
           <br>
        <div style="padding:20px 50px">
              <h3>Serving Area</h3>
              <div>Mention a radius around the central location of my Store</div>
              <form action="" #locationForm = "ngForm">
                <ion-button (click)="setRadius()" [disabled]="!isLocation">set radius on map</ion-button>
              <ion-item>
                <ion-label position="stacked">Serving Radius (KM) *</ion-label>
                <ion-input disabled="true" required name="servingarea" type="number"  id = "ngModel" [(ngModel)] = "storeDetail.serving_radius"></ion-input>
              </ion-item>
            </form>
            </div>
           <ion-button fill = "clear" [disabled]= "!(storeDetail.serving_radius > 0)" *ngIf="isLocation" (click)="swipeNext()">Next</ion-button>
           <ion-button fill = "clear" [disabled]= "true" *ngIf="!isLocation" (click)="swipeNext()">set your store location</ion-button>
        </ion-slide>

        <ion-slide>
            <!-- <img src="./slide-2.png"/> -->
            <h2>Additional information</h2>
            <p>Provide these additional informations about minimum order amount and delivery time. These information will be displayed on main page of customere app</p>
            <div style="padding-top: 50px">
            <form action="" #additionForm = "ngForm">
            <ion-item>
                <ion-label position="stacked">Minimum Order Amount in Ruppe</ion-label>
                <ion-input required name="minorder" type="number" id = "ngModel" [(ngModel)] = "storeDetail.min_order"></ion-input>
              </ion-item>

              <ion-item>
                  <ion-label position="stacked">Delivery time(in Hr)</ion-label>
                  <ion-input required name="delivery" type="number" id="ngModel" [(ngModel)] = "storeDetail.delivery_time"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked">Contact no for customers:</ion-label>
                    <ion-input required name="phone" minlength="10" maxlength="10" inputmode="tel" type="tel" id="ngModel" [(ngModel)] = "storeDetail.phone">+91 </ion-input>
                  </ion-item>
  
                  <ion-item>
                      <ion-label position="stacked">whatsapp No:</ion-label>
                      <ion-input required name="whatsapp" minlength="10" maxlength="10" inputmode="tel" type="tel" id="ngModel" [(ngModel)] = "storeDetail.phone_whatsapp">+91 </ion-input>
                    </ion-item>
                  <ion-button fill="clear" (click)="copyNo()">whats app no same as phone no</ion-button>

                  <div style="font-size:13px; color:gray">Phone number and whats app no will be shared with customers.</div>
              </form>
              </div>
              <div style="padding-top: 50px;">
                <ion-button  expand = "full" [disabled]= "!(additionForm.dirty && additionForm.valid)" (click)="addStore(storeDetail)">save and create store</ion-button>
              </div>
          </ion-slide>
  
</ion-slides>

</ion-content>
