<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="max-width:700px; margin:auto">
<div style="text-align: right; background:white">
  <img style="height:45vh" src="../../../assets/main.jpeg" alt="">
</div>

  <div >
    <div style="padding:10px">
    <div>LOGIN</div>
    <div class="secondaryFont">Enter your email & password to proceed</div>
  </div>
    <ion-list>
      <ion-item>
        <ion-label position="stacked"  >Email*</ion-label>
        <ion-input [(ngModel)] = "user.email" type ="email"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="stacked" >Password*</ion-label>
          <ion-input [(ngModel)] = "user.password" type="password"></ion-input>
        </ion-item>
        <div style="color:tomato; text-align:center">{{msg}}</div>
        <div style="padding:10px">
    <ion-button expand="block" (click)= "login(user)">Login</ion-button>
  </div>
    <!-- <ion-button expand="block" (click)= "loginGoogle()">Login with google</ion-button> -->
    <!-- <ion-button expand="block" (click)= "loginFb(user)">Login with facebook</ion-button> -->

    <div [routerLink]="['/signup']"  style="padding:10px; color: blue; text-align: center" >Create New account</div>
    <div [routerLink]="['/resetpass']"  style="padding:10px; color: blue; text-align: center" >Forgot Password?</div>

    <!-- <ion-button (click)="logout()">logout</ion-button> -->


    </ion-list>
  </div>

  <!-- <ion-button (click)= "logout()">Logout</ion-button>
  <ion-button (click)="dismiss()">close</ion-button> -->

</div>

</ion-content>
