<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Announcement</ion-title>
    <ion-button slot="end" fill="clear"  (click)="save()">save</ion-button>
    <ion-progress-bar type="indeterminate" *ngIf = "dataSaving"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item >
        <ion-label>Announcement</ion-label>
        <ion-toggle [(ngModel)]="announcement.isAnnouncement"  ></ion-toggle>
      </ion-item>


    <ion-item lines="none" style="padding-top:25px">
        <ion-textarea auto-grow='true' placeholder="Add text here..." style=" --background: white;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 10px;
    " [(ngModel)]="announcement.announcement"></ion-textarea>
      </ion-item>

</ion-content>
